@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 198 88% 95%;
    --foreground: 210 10% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 178 100% 47%; /* #00f2ea */
    --primary-foreground: 210 10% 23%;

    --secondary: 198 50% 90%;
    --secondary-foreground: 210 10% 23%;

    --muted: 198 50% 90%;
    --muted-foreground: 240 5% 65%;

    --accent: 341 100% 50%; /* #ff0050 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 198 40% 85%;
    --input: 198 40% 85%;
    --ring: 178 100% 47%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 178 100% 47%; /* #00f2ea */
    --primary-foreground: 222.2 84% 4.9%;
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 341 100% 50%; /* #ff0050 */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 178 100% 47%;
  }
}

@layer base {
  html {
    @apply text-[17px];
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .timeline-container {
    position: relative;
    padding-left: 3rem; 
  }

  .timeline-container::before {
    content: '';
    position: absolute;
    left: calc(1rem - 1px);
    top: 1rem;
    bottom: 1rem;
    width: 2px;
    background-color: hsl(var(--border));
    z-index: 0;
  }

  .timeline-step {
    position: relative;
    padding-bottom: 2rem; 
  }
  .timeline-step:last-child {
    padding-bottom: 0;
  }

  .timeline-step::before {
    content: '';
    position: absolute;
    left: -2rem; 
    top: calc(1.5rem - 8px); 
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    background-color: hsl(var(--border));
    border: 3px solid hsl(var(--background));
    z-index: 1;
    transition: background-color 0.3s ease;
  }

  .timeline-step-completed::before {
    background-color: hsl(var(--primary));
  }
}
