@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 198 88% 95%; /* #E5F6FD */
    --foreground: 210 10% 23%;

    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;

    --primary: 209 90% 40%; /* #0a66c2 */
    --primary-foreground: 0 0% 100%;

    --secondary: 198 50% 90%;
    --secondary-foreground: 210 10% 23%;

    --muted: 198 50% 90%;
    --muted-foreground: 240 5% 65%;

    --accent: 21 88% 57%; /* #F07E34 */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 198 40% 85%;
    --input: 198 40% 85%;
    --ring: 209 90% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 10% 23%;
    --foreground: 0 0% 98%;

    --card: 210 10% 23%;
    --card-foreground: 0 0% 98%;

    --popover: 210 10% 23%;
    --popover-foreground: 0 0% 98%;

    --primary: 209 90% 40%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 10% 30%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 10% 30%;
    --muted-foreground: 240 5% 65%;

    --accent: 21 88% 57%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 209 90% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
